@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body{
    background: #01011E;
    height: 100vh;
    width: 100%;
}
/* ----------------- */
/* ---- Desktop ---- */
/* ----------------- */
.logo{
    width: 80px;
    height: 80px;
    margin: 3% 0 0 8%;
}
#contenedor-entrada{
    height: 50vh;
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    align-content: center;
    margin: 9%;
    margin-bottom: 5%;
}
#texto-input, #texto-output{
    width: 55%;
    height: 100%;
    background: #01011E;
    border: 1px solid #93FFD8;
    color: whitesmoke;
    resize: none;
    padding: 30px;
    font-size: 20px;
}
#texto-input:focus-within, #texto-output:focus-within{
    border-width: 2px;
    border-color: #93FFD8;
}
.img-decoration1{
    width: 20%;
    align-self: center;
    margin: 25px;
}
#contenedor-salida{
    height: 18vh;
}
.botones-principales, .botones-secundarios{
    display: flex;
}
.botones-principales{
    flex-direction: column;
}
.botones-secundarios{
    margin: 0 9%;
    position: relative;
    margin-top: -23vh;
}
.botones-among-secundarios{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.img-decoration2, .img-decoration3{
    display: none;
    overflow: hidden;
}

button{
    border: none;
}
#encriptar, #desencriptar{
    background-color: #76ccb3;
    color: #01011E;
    width: 35vw;
    height: 10vh;
    transition: 1s;
    font-weight: 600;
    margin: auto;
}
#encriptar{
    position: relative;
    bottom: 75vh;
}
#desencriptar{
    position: relative;
    bottom: 13vh;
    z-index: 3;
}
#encriptar:hover, #desencriptar:hover{
    background-color: #93ffdf;
    transition: 1s;
    font-size: 19px;
}
#limpiar, #copiar{
    background-color: #4a807b;
    color: #E3E3E3;
    width: 22vw;
    height: 10vh;
    transition: 1s;
    z-index: 1;
}
#copiar {
    margin-right: 10px;
}
#limpiar {
    margin-left: 10px;
}
#limpiar:hover, #copiar:hover{
    background-color: #76ccb3;
    transition: 1s;
    color: #01011E;
}
footer{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 30px;
    /* background-color: antiquewhite; */
}
footer > img{
    display: none;
    overflow: hidden;
}

/* ----------------- */
/* ---- Tablet ---- */
/* ----------------- */
@media ( max-width: 720px )  {
    body{
        box-sizing: border-box;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        /* background-color: antiquewhite; */
        margin: 0;
        padding: 0;
        margin-top: 4%;
    }
    #contenedor-entrada{
        width: 100vw;
        height: 75vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "n1"
            "n1"
            "btns"
            "btns"
            "n2"
            "n2";
        /* background-color: antiquewhite; */
        grid-gap: 10px;
        margin: 0;
        margin-top: 10%;
    }
    #contendor-salida{
        height: 10vh;
    }
    #texto-input{
        grid-area: n1;
    }
    #texto-output{
        grid-area: n2;
    }
    #texto-input, #texto-output{

        width: 73vw;
        height: 27vh;
        margin: auto;
    }
    .img-decoration1{
        display: none;
        overflow: hidden;
    }
    .botones-principales{
        position: relative;
        flex-direction: row;
        top: -43vh;
        margin: auto;
        /* background-color: #B2B6DD; */
        overflow: hidden;
        width: 75vw;
        justify-content: space-around;
    }
    .botones-secundarios {
        width: 73vw;
        height: 25vh;
        display: flex;
        padding: 0;
        margin: -5vw 14%;
        /* background-color: #B2B6DD; */
        overflow: hidden;
        justify-content: space-between;
    }
    .botones-among-secundarios {
        width: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }
    #encriptar, #desencriptar{
        width: 48%;
        margin: 0;
        padding: 0;
        top: 0;
    }
    #limpiar, #copiar {
        display: block;
        width: 100%;
        height: 8vh;
        margin: 0px;
    }
    #copiar{
      margin: 0;
      padding: 0;
    }
    .img-decoration2{
        display: block;
        overflow: visible;
        /* margin: auto; */
        height: 100%;
    }
    footer {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        padding: 0;
    }
}

/* ----------------- */
/* ----- Móvil ----- */
/* ----------------- */
@media ( max-width: 529px ){
    header{
        display: none;
    }
    .logo{
        margin: 0;
    }
    .img-decoration2{
        display: none;
        overflow: hidden;
    }
    .img-decoration3{
        display: block;
        overflow: visible;
        height: 100%;
    }
    .botones-secundarios{
        margin: -10vw 14%;
        height: 20vh;
    }
    .botones-among-secundarios{
        width: 53%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    #limpiar, #copiar{
        display: block;
        width: 100%;
        height: 50px;
        margin: 0;
    }
    footer{
        padding: 0;
        margin: 0;
        height: 50vh;
        display: flex;
        /* background-color: #B2B6DD; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer > img{
        display: block;
        overflow: visible;
    }
}